[Unit]
Description=jacknetumpd service to connect to the HMD 
DefaultDependencies=no
After=pipewire.service pipewire-jack.service wireplumber.service
Before=sushi.service

[Service]
Type=exec
ExecStart=/usr/bin/bash pw-jack /usr/bin/jacknetumpd --localport 5505 --remoteport 5505 --endpoint cube-hmd --interface wlan0
TimeoutStartSec=0

[Install]
WantedBy=sushi.service
